h1{
    text-align: center;
}

button{
    height: 100%;
}

button:focus{
    outline: none;
}

#container{
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    height: 500px;
    width: 500px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

.grid-box{
   
    border: 1px solid black;
}

#options {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    width: 70%;
    max-width: 500px;
    margin: 8vh auto;
  }
  
  .option {
    width: 30%;
    padding: 5px;
    margin: 0 auto 10px auto;
    border: solid 2px #d5d5d5;
    border-radius: 4px;
    box-shadow: 2px 4px 10px #d5d5d5;
    cursor: pointer;
  }

  .buts{
    width: 500px;
    margin-top: 10px;
    height: 35px;
    display: flex;
  }